@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
body {
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
    width: 80%;
    margin: 0 auto;
}

.top-header {
    max-width: 100%;
    height: auto;
    background-color: #000;
}

.top-header .header-contact-info {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #d0d0d0;
    font-size: .8em;
    align-items: center;
}

.top-header .header-contact-info li:first-child {
    margin-right: 8px;
}

.top-header .header-contact-info li:first-child::after {
    content: "|";
    margin-left: 8px;
}

.top-header .header-contact-info li:nth-child(2)::after {
    content: "|";
    margin-left: 8px;
}

.top-header .header-contact-info li:last-child {
    margin: 0;
    padding: 0;
}

.top-header .header-contact-info li.flag {
    font-size: 10px!important;
}

.top-header .header-contact-info li.flag img {
    width: 30%;
    height: 15%;
}

.top-header .header-contact-info li.flag span {
    color: #d0d0d0;
    font-size: 1em
}

.top-header .header-top-menu {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #d0d0d0;
    font-size: .8em;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.top-header .header-top-menu li:hover{
    color: #FE7981;
}

.top-header .header-top-menu li:not(:last-child)::after {
    content: "|";
    margin: 8px;
}

.main-nav {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

.main-nav .my-nav {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.main-nav .my-nav .nav-links a {
    color: #000;
    font-size: 1em;
}

.main-nav .my-nav .nav-links a:hover {
    text-decoration: none;
}

.main-nav .my-nav-option {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.main-nav .my-nav-option .nav-links a {
    color: #000;
    font-size: 1em;
}

.main-nav .my-nav-option .nav-links a:hover {
    text-decoration: none;
}

.categories-banner-area {
    max-width: 100%;
    height: 100%;
    padding: 4em 0;
}

.categories-banner-area .banner-area {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.categories-banner-area .banner-area .banner-area-links {
    margin: 0 10px;
    width: calc(25% - 15px);
    position: relative;
    overflow: hidden;
}

.categories-banner-area .banner-area .banner-area-links:first-child{
    margin-left: 0;
}

.categories-banner-area .banner-area .banner-area-links:last-child{
    margin-right: 0;
}

.categories-banner-area .banner-area .banner-area-links a {
    border-radius: 5px;
    display: block;
    overflow: hidden;
}

.categories-banner-area .banner-area .banner-area-links img {
    display: block;
    max-width: 100%;
    background-size: cover;
    object-fit: cover;
    transition: .6s;
}

.categories-banner-area .banner-area .banner-area-links:hover img {
    transform: scale(1.1);
}

.categories-banner-area .banner-area .banner-area-links .overlay {
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 20px;
    position: absolute;
    right: 0;
    bottom: 10%;
    transform: translateY(50%);
    text-align: right;
    transition: .6s;
}

.categories-banner-area .banner-area li:nth-child(2) .overlay h2,.categories-banner-area .banner-area li:nth-child(3) .overlay h2{
    color:#fff;
}

.categories-banner-area .banner-area li:nth-child(1) .overlay span,.categories-banner-area .banner-area li:nth-child(4) .overlay span{
    color:#FE7981
}

.categories-banner-area .banner-area .banner-area-links .overlay span {}

.categories-banner-area .banner-area .banner-area-links .overlay h2 {
    margin: 15px 0;
}

.categories-banner-area .banner-area .banner-area-links .overlay button {
    outline: none;
    border: none;
    padding: 10px 30px;
    font-size: 1.2em;
    background-color: #FE7981;
    color: #fff;
}

.categories-banner-area .banner-area .banner-area-links a:hover .overlay {
    transform: translateY(15%);
}

.product-area{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.product-area .title{
    text-align: center;
    padding: 40px;
}

.product-area .title span{
    color:#FE7981;
}

.product-area .product-list{
    margin: 40px 0;
}

.product-area .product-list .product-image{
    position: relative;
    display: block;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-area .product-list .product-image .hover-img{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 4;
    transition: .6s;
}

.product-area .product-list .product-image:hover .hover-img{
    visibility: hidden;
    transform: scale(.9);
}

.product-area .product-list .product-image .sale{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 80%;
    z-index: 5;
    width: 100%;
    height: auto;
}

.product-area .product-list .product-image .sale .sale-info{
    width: 20%;
    height: auto;
    text-align: center;
    background-color: red;
}

.product-area .product-list .product-image .sale .sale-info span{
    color: #fff;
}

.product-area .product-list .product-image .overlay{
    position: absolute;
    right: -8%;
    bottom: 70%;
    transition: 1.1s;
}

.product-area .product-list .product-image:hover .overlay{
    right: 0;
    z-index: 10;
}

.product-area .product-list .product-image .overlay ul {
    padding:10px;
    list-style: none; 
}

.product-area .product-list .product-image .overlay ul li a {
    color: #000;
}

.product-area .product-content{
    padding: 20px 0;
}

.product-area .product-content a h3 {
    color: #000;
    font-family: 'Cabin', sans-serif;
    transition: .6s;
}

.product-area .product-content a h3:hover{
    color: #FE7981;
}

.product-area .product-content a:hover {
    text-decoration: none;
}

.product-area .product-content .price .add-to-cart{
    visibility:hidden;
}

.product-area .product-content .price .old-price{
    text-decoration: line-through;
    padding-right: 20px;
}

.product-area .product-content:hover .price .old-price,.product-area .product-content:hover .price .new-price
{
    display: none;
}

.product-area .product-content:hover .price .add-to-cart{
    visibility: visible;
}

.background-attackment{
    position: relative;
    max-width: 100%;
    min-height: 40em;
    background-image: url("../images/offer-background/offer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.background-attackment .overlay-background-attackment{
    position: absolute;
    display: block;
    padding: 10px;
    width: 50%;
    height: 100%;
    top: 20%;
    left: 0;
    
}

.background-attackment .overlay-background-attackment .overlay-content{
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    width:70%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-attackment .overlay-background-attackment .overlay-content label{
   color: #FE7981;
}

.background-attackment .overlay-background-attackment .overlay-content h2{
    font-family: "Cabin";
}

.background-attackment .overlay-background-attackment .overlay-content span{
   font-size: 15px;
   color: #000;
}

.background-attackment .overlay-background-attackment .overlay-content a{
   display: flex;
   flex-direction: column;
   padding: 10px 30px;
   margin-top:30px;
   text-align: center;
   width: auto;
   height: auto;
   color: #fff;
   background-color: #FE7981;
   text-decoration: none;
   transition: .8s;
}

.background-attackment .overlay-background-attackment .overlay-content a:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.facility-area{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #F4F4F4;
    align-items: center;
}

.facility-area .facility-slide .facility-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
   
}

.facility-area .facility-slide .facility-items .facility-img{
    display: block;
    position: relative;
    padding: 30px ;
    overflow: hidden;
    /* border: 1px solid #FE7981; */
    border-radius: 50%;
    z-index: 23;
    background-color: #fff;
}

.facility-area .facility-slide .facility-items .facility-img::after{
    content: "";
    z-index: 21;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.facility-area .facility-slide .facility-items .facility-img:hover{
    color: aqua;
}

.facility-area .facility-slide .facility-items span{
    font-size: 1.2em;
    padding: 0;
    margin-bottom: 0;
    color: #000;
}

.our-partners{
    max-width: 100%;
    margin: 40px auto;
    padding:60px 0;
    background-color: #F4F4F4;
    align-items: center;
}

.our-partners .partners-title{
    text-align: center;
    margin-bottom: 60px;
}

.our-partners .our-partners-slide .partners-img{
    width: 90%;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
}

.blog-area{
    max-width: 100%;
}

.blog-area .blog-title{
    width: 100%;
    height: auto;
    padding: 30px 0;
    text-align: center;
}

.blog-area .blog-title span{
    color: #FE7981;
}

.blog-area .blog-post{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0!important ;
    padding: 0;
}

.blog-area .blog-post .single-post{
    margin: 0 10px;
    width: calc(33.33% - 20px);
    position: relative;
    overflow: hidden;
}

.blog-area .blog-post .single-post .post-img a{
    display: block;
   
}


.blog-area .blog-post .single-post .post-img a img{
    transition: .8s;
   
}


.blog-area .blog-post .single-post .date{
    position: absolute;
    top: 5%;
    right: -35%;
    width: 35%;
    height: auto;
    padding: 10px;
    z-index: 5; 
    background-color: #fff;
    transition: .8s;
}

.blog-area .blog-post .single-post .date span{
    color: #000;
    font-style: italic ;
}

.blog-area .blog-post .single-post:hover .date{
    right: 0%;
}

.blog-area .blog-post .single-post:hover .post-img a img {
    transform: rotate(5deg);
}

.blog-area .blog-post .single-post .post-content{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.blog-area .blog-post .single-post .post-content .tag{
    color: #FE7981;
}

.blog-area .blog-post .single-post .post-content .title{
    font-size: 20px;
    cursor: pointer;
    transition: .8s;
}

.blog-area .blog-post .single-post .post-content .title:hover{
    color: #FE7981;
}

.instagram-area{
    width: 100%;
    margin: 40px 0;
    text-align: center;
}

.instagram-area .instagram-slide{
    margin: 40px 0;
}

footer {
    font-family: 'Cabin', sans-serif;
    display: flex;
    width: 100%;
    height: auto;
    padding:40px 0;
    justify-content: space-between;
    border-top: 1px solid black;
}

footer h3 {
    text-transform: capitalize;
    border-bottom: 1px solid linear-gradient(red, transparent);
}

footer .contact {}

footer .contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .contact .contact-items {
    text-transform: capitalize;
}

footer .contact .contact-items i {
    margin-right: 4px;
}

footer .category {}

footer .category ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .category .category-items {
    text-transform: capitalize;
}

footer .tabble-of-content {}

footer .tabble-of-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .tabble-of-content .tabble-of-content-items {
    text-transform: capitalize;
}

footer .link:not(:last-child) {
    border-right: 1px solid darkgray;
}

footer .link ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    color: #000;
}

footer .link .link-items {
    text-transform: capitalize;
}

#finally {
    width: 100%;
    background-color: #000;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid darkgray;
}

#finally span {
    text-transform: capitalize;
    color: #fff;
}

